$logo-color: #2196F3;
$black-font-color: #212121;
$gray-font-color: #757575;
$footer-font-color: #FFFFFF;
$light-background-color: #F5F4FA;
$dark-background-color: #2F303A;
$white-font-color: #FFFFFF;